.plant_details_container {
    position: relative;
    padding-top: 120px; 
    margin: 5px;
    padding-bottom: 100px; 
    overflow: hidden; 
  }
  
  .details-content {
    max-width: 95%; 
    margin: auto;
    overflow-y: auto; 
    max-height: calc(80vh - 50px); 
  }
  
  .details-content img {
    width: 90%;
    height: 15vw;
    object-fit: cover;
    border-radius: 9px;
  }
  
  .details-content > h1 {
    text-align: center;
    justify-content: center;
  }
  .details-content > img {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .details-content::-webkit-scrollbar {
    display: none;
  }
  