.mynews {
  position: fixed;
  top: 250px; 
  left: 0;
  right: 0;
  bottom: 60px; 
  overflow-y: auto; 
}

.my-news {
  overflow-y: auto;
  max-height: calc(100vh - 250px - 120px); 
}

.my-news-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.my-news::-webkit-scrollbar {
  display: none;
}


.my-news-item {
  width: 80%;
  margin-bottom: 20px; 
  box-sizing: border-box;
}

.my-news-image {
  max-width: 100%;
  height: auto;
}
