
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: "Roboto Mono", monospace;
}

.mynews {
  position: fixed;
  top: 325px; 
  left: 0;
  right: 0;
  overflow-y: auto; 
}

.my-news {
  overflow-y: auto;
  max-height: calc(100vh - 250px - 200px); 
}

.mynews h1 {
  font-weight: 1000;
  letter-spacing: 2px;
}


.my-news-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.my-news::-webkit-scrollbar {
  display: none;
}


.my-news-item {
  width: 80%;
  margin-bottom: 20px; 
  box-sizing: border-box;
}

.my-news-image {
  max-width: 100%;
  height: auto;
}
