
.news-container {
    margin: 20px; 
    overflow-y: auto; 
    max-height: calc(100vh - 300px); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.news-container::-webkit-scrollbar {
    display: none;
  } 

.news-image {
    max-width: 100%; 
    max-height: auto; 
}
.news {
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 40px;
    cursor: pointer;
}


.news-item {
    flex: 0 1 calc(50% - 20px);
    padding-bottom: 10px;
    box-sizing: border-box; 
    justify-content: center;
    align-items: center;
}

.news-item a {
    text-decoration: none; 
}   

h2, p {
    font-size: 15px;
    text-decoration: none; 
    color: black; 
    letter-spacing: 2px;
}
p {
    font-size: 10px;
}