.app-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #93bb61;
    bottom: 0;
    position: fixed;
    border-radius: 12px;
    margin: 10px;
    width: 92%;
    padding: 5px;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}


.app-footer a {
    text-decoration: none; 
}

.footer-icon .label {
    color: #93bb61; 
    font-size: 14px; 
}
