.map-container {
    position: relative;
    overflow: hidden;
    top: 150px; 
    margin: 10px;
    text-align: center; 
    letter-spacing: 4px;
}

.map-container a {
    display: inline-block; 
    max-width: 100%; 
}

.map-container img {
    max-width: 90%; 
    height: auto; 
    border-radius: 9px; 
    border: 2px solid #ddd; 
    padding: 10px;
    margin-bottom: 20px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
