.full-header {
    text-align: center;
    position: relative; 
}

.logo {
    max-width: 100%; 
    height: auto;
}

.header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 60px;
    box-sizing: border-box; 
}


.weather, .map {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
}

.map img {
    height: 100%; 
    object-fit: contain; 
}

.weather, .map {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
}

.map {
    background-color: #76B947;
    border-radius: 12px;
    margin: 2px;
    padding: 15px;
    height: auto; 
    max-width: 60px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.map img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}
