
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: "Roboto Mono", monospace;
}

.plant-image {
    width: 25vw; 
    height: 22.5vw; 
    object-fit: cover;
    border-radius: 9px;
  }
  
  .plant-item {
    flex-direction: row;
  }

  .plant_app_container {
    position: relative; 
    overflow: none;
    top: 75px;
    margin: 10px;
  }

  .plant-search-bar {
    display: flex;
    gap: 8px;
    padding: 10px;
    background-color: rgb(232, 229, 229);
    border-radius: 12px;
  }

  .search-bar-container {
    position: fixed;
    width: 95%; 
  }

  .plant-search-bar input {
    display: flex;
    border: none;
    outline: none;
    padding: 4px;
    color: #626262;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    background: none;
}

.search-bar-container {
  position: fixed;
  top: 200; /* Ensures it stays at the top */
  width: 95%; 
  z-index: 100; /* Ensures it stays above other content */
}


.plant-results-container {
  overflow-y: auto; 
  max-height: calc(72vh - 100px); 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plant-item a {
  text-decoration: none; 
  font-size: 10px;
  color: black;
}

.plant-item {
  width: calc(50% - 20px);
  margin: 10px; 
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.plant-results-container::-webkit-scrollbar {
  display: none;
}

.myplants h1 {
  font-weight: 1000;
  letter-spacing: 2px;
}

.search-bar-placeholder {
  height: 50px; 
}





  


